.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 20px; /* 5px rounded corners */
  background-color: rgb(224, 224, 224);
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  /* float: none; */
  width: calc(70% - 10px);
}

.mainc {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  /* float: none; */
  /* width: calc(70% - 25px); */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(204, 200, 200, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 1px 15px;
  color: black;
}

h3 {
  padding: 10px 20px;
  color: rgb(4, 169, 151);
}

h3:hover {
  /* color: indigo; */
  color: rgb(13, 114, 102);
}

small {
  padding: 5px 20px;
  color: rgb(107, 14, 173);
}
.button-link {
  background-color: black;
  text-align: center;
  border-radius: 5px;
}

#link-back-home {
  list-style-type: none;

  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
.comment-section {
  margin-top: 30px;
}
.comment-header {
  font-size: 16px;
  text-transform: uppercase;
  color: gold;
  letter-spacing: -0.3px;
  margin-bottom: 10px;
}
.post-img {
  height: 100%;
}
