.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background-color: darkgrey;
    margin-bottom: 50px;
}
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(204, 200, 200, 0.2);
}
  
  /* Add some padding inside the card container */
  .container {
    padding: 5px 20px;
    color: black;
  }

  h3{
    padding: 10px 20px;
    color: royalblue;
  }

  h3:hover{
      color: indigo;
  }

  small{
    padding: 5px 20px;
    color:indigo;
  }
  .button-link{
    background-color: black;
    text-align: center;
    border-radius: 5px; 
}

#link-back-home {

  list-style-type: none;
  
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  
  }
