.posts {
    margin: auto;
    width: 70%;
}

.date {
    color: #1d7eb5;
    font-weight: bold;
    margin-top: 1rem;
}

.posts ul:last-child {
    display: flex;
    justify-content: center;
}

.posts a {
    color: #1d7eb5;
}

.posts a:hover {
    color: orange;
}

.posts .post-navigation {
    list-style-type: none;
}

.posts .post-navigation {
    margin-right: 1rem;
}

.posts .post-navigation {
    margin-left: 1rem;
}

#the-nav {

    list-style-type: none;
    
    display: flex;
    justify-content: center;
    padding-top: 30px;

    }
    .post-Title{
        padding-top: 30px;
    }